<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="base::layout(~{::section})" >
<head>
    <meta charset="UTF-8" />
    <title>Home page</title>
</head>
<body>
    
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
        
        <h1>Smart contect manager</h1>
        <p>This is my first Spring boot project 
        	please support me and give me appreation 
        	so i am do work further like this
        </p>
        <button class="btn bg-primary btn-lg text-white">Get Started</button>
        
        </div>
    
    </section>
    
</body>
</html>
